# Jeopardy Questions

In [3]:
# Read dataset into a dataframe and display first five rows
import pandas as pd
jeopardy = pd.read_csv('jeopardy.csv')
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [4]:
# Show details of all columns 
jeopardy.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [5]:
# Some of the column names have spaces in front, need to remove the space
jeopardy.columns = jeopardy.columns.str.lstrip()
jeopardy.columns = jeopardy.columns.str.replace(' ', '')
jeopardy.columns

Index(['ShowNumber', 'AirDate', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

# Normalizing Text

The idea is to ensure that we lowercase words and remove punctuation so "Don't" and "don't" aren't considered to be different words when you compare them.

In [6]:
# Establish a function to normalize texts, including making it lower case and removing punctuations
import string
from string import punctuation
def text_normalizer(text):
    lower_text = text.lower()
    no_punct = ""
    for character in lower_text:
        if character not in punctuation:
            no_punct = no_punct + character
        elif character in punctuation:
            no_punct = no_punct + ''
    return no_punct

In [7]:
# Apply the normalizer function above to normalize texts in 'Question' column
jeopardy['clean_question'] = jeopardy['Question'].apply(text_normalizer)
jeopardy['clean_question']

0        for the last 8 years of his life galileo was u...
1        no 2 1912 olympian football star at carlisle i...
2        the city of yuma in this state has a record av...
3        in 1963 live on the art linkletter show this c...
4        signer of the dec of indep framer of the const...
5        in the title of an aesop fable this insect sha...
6        built in 312 bc to link rome  the south of ita...
7        no 8 30 steals for the birmingham barons 2306 ...
8        in the winter of 197172 a record 1122 inches o...
9        this housewares store was named for the packag...
10                                          and away we go
11       cows regurgitate this from the first stomach t...
12       in 1000 rajaraja i of the cholas battled to ta...
13       no 1 lettered in hoops football  lacrosse at s...
14       on june 28 1994 the natl weather service began...
15       this companys accutron watch introduced in 196...
16       outlaw murdered by a traitor and a coward whos...
17       a small demon or a mischievous child who might...
18       karl led the first of these marxist organizati...
19       no 10 fblb for columbia u in the 1920s mvp for...
20       africas lowest temperature was 11 degrees belo...
21       edward teller  this man partnered in 1898 to s...
22       1939 oscar winner you are a credit to your cra...
23       in geologic time one of these shorter than an ...
24       this asian political party was founded in 1885...
25       no 5 only center to lead the nba in assists tr...
26       the kirschner brothers don  bill named this sk...
27       revolutionary war hero his spirit is in vermon...
28       a single layer of paper or to perform ones cra...
29       a hrefhttpwwwjarchivecommedia20041231dj23mp3be...
                               ...
19969    in 1960 the last of these locomotives was reti...
19970    kate if i be waspish best beware my sting his ...
19971    this private college in northern california bo...
19972    she voiced princess pea in the tale of despere...
19973    its the name of the longawaited new white hous...
19974    langdon in angels  demons is looking for a hre...
19975    in the 1600s most of new york state was occupi...
19976                marinas dad need a hint he rules tyre
19977    presidential kids are welcome at this new orle...
19978    she didnt vamp it up  did a bella job as em in...
19979    third syllable intoned by the giant who smells...
19980    much of angels  demons takes place at one of a...
19981    in 1899 secretary of state john hay proclaimed...
19982    fruity surname of peter in a midsummer nights ...
19983    quincy jones kevin eubanks  branford marsalis ...
19984    in 2009 she returned to being fast  furious as...
19985    the book of genesis says this ancient city of ...
19986    habakkuk and the angel is one of a series of a...
19987    in medieval england it meant the smallest unit...
19988    this texas city is the largest in the us to ha...
19989                                         the crickets
19990    in the 990s this son of erik the red brought c...
19991    concerning a failed windows 98 demonstration h...
19992    this llama product is used to make hats blanke...
19993    in 1967 this company introduced its chocolatec...
19994    of 8 12 or 18 the number of us states that tou...
19995                             the new power generation
19996    in 1589 he was appointed professor of mathemat...
19997    before the grand jury she said im really sorry...
19998    llamas are the heftiest south american members...
Name: clean_question, Length: 19999, dtype: object

In [8]:
# Also apply the normalizer to "Answer" column
jeopardy['clean_answer'] = jeopardy['Answer'].apply(text_normalizer)
jeopardy['clean_answer']

0                                               copernicus
1                                               jim thorpe
2                                                  arizona
3                                                mcdonalds
4                                               john adams
5                                                  the ant
6                                           the appian way
7                                           michael jordan
8                                               washington
9                                            crate  barrel
10                                          jackie gleason
11                                                 the cud
12                                     ceylon or sri lanka
13                                               jim brown
14                                            the uv index
15                                                  bulova
16                                             jesse james
17                                                     imp
18                                       the international
19                                              lou gehrig
20                                                 morocco
21                                             paul bonwit
22       hattie mcdaniel for her role in gone with the ...
23                                                     era
24                                      the congress party
25                                        wilt chamberlain
26                                                      k2
27                                             ethan allen
28                                                     ply
29                                                  horton
                               ...
19969                                        steam engines
19970                                            petruchio
19971                                  stanford university
19972                                          emma watson
19973                                                   bo
19974                                   an antimatter bomb
19975                                         the iroquois
19976                                             pericles
19977                                               tulane
19978                                      kristen stewart
19979                                                   fo
19980                                           a conclave
19981                                      opendoor policy
19982                                               quince
19983                                              berklee
19984                                   michelle rodriguez
19985                                                   ur
19986                                              bernini
19987                                                 atom
19988                                    houston lee brown
19989                                          buddy holly
19990                                         leif ericson
19991                                           bill gates
19992                                                 wool
19993                                              hostess
19994                                                   18
19995                                               prince
19996                                              galileo
19997                                      monica lewinsky
19998                                               camels
Name: clean_answer, Length: 19999, dtype: object

# Normalizing Columns

Now we need to normalize "Value" and "Air Date" columns

In [9]:
def dollar_normalizer(text):
    no_punct = ""
    for character in text:
        if character not in punctuation:
            no_punct = no_punct + character
        elif character in punctuation:
            no_punct = no_punct + ''
    try:
        int_no_punct = int(no_punct)
    except ValueError:
        int_no_punct = 0
    return int_no_punct

In [10]:
# Normalize the "Value" column
jeopardy['clean_value'] = jeopardy['Value'].apply(dollar_normalizer)
jeopardy['clean_value']

0         200
1         200
2         200
3         200
4         200
5         200
6         400
7         400
8         400
9         400
10        400
11        400
12        600
13        600
14        600
15        600
16        600
17        600
18        800
19        800
20        800
21        800
22       2000
23        800
24       1000
25       1000
26       1000
27       1000
28       1000
29        400
         ...
19969    1200
19970    1200
19971    1500
19972    1200
19973    1200
19974    1200
19975    1600
19976    1600
19977    1600
19978    1600
19979    1600
19980    1600
19981    1200
19982    2000
19983    2000
19984    2000
19985    2000
19986    2000
19987       0
19988     100
19989     100
19990     100
19991     100
19992     100
19993     100
19994     200
19995     200
19996     200
19997     200
19998     200
Name: clean_value, Length: 19999, dtype: int64

# Answers Appearing in Questions

The goal is to see whether studying past questions, or general knowledge, or not studying at all, would help the performance. 

In order to do that, we need to figure out
1) How often the answer is deductible from the question
2) How often new questions are repeats of the older questions

We now try to answer the first question by looking at how often the answers have occured in the question.

In [11]:
# establish a function to calculate what percentage of answers have appeared in questions
def match_perc(row):
    split_answer = row['clean_answer'].split(' ')
    split_question = row['clean_question'].split(' ')
    match_count = 0
    if 'the' in split_answer:
        split_answer.remove('the')
    if len(split_answer) == 0:
        return 0
    for answer in split_answer:
        if answer in split_question:
            match_count = match_count + 1
    result = match_count / len(split_answer)
    return result

In [12]:
# apply the above function to every row in the dataframe
jeopardy['answer_in_question'] = jeopardy.apply(match_perc, axis=1)
jeopardy['answer_in_question']

0        0.000000
1        0.000000
2        0.000000
3        0.000000
4        0.000000
5        0.000000
6        0.000000
7        0.000000
8        0.000000
9        0.333333
10       0.000000
11       0.000000
12       0.000000
13       0.000000
14       0.500000
15       0.000000
16       0.000000
17       0.000000
18       0.000000
19       0.000000
20       0.000000
21       0.000000
22       0.000000
23       0.000000
24       0.500000
25       0.000000
26       0.000000
27       0.000000
28       0.000000
29       0.000000
           ...
19969    0.000000
19970    0.000000
19971    0.000000
19972    0.000000
19973    0.000000
19974    0.333333
19975    0.000000
19976    0.000000
19977    0.000000
19978    0.000000
19979    0.000000
19980    0.500000
19981    0.500000
19982    0.000000
19983    0.000000
19984    0.000000
19985    0.000000
19986    0.000000
19987    0.000000
19988    0.000000
19989    0.000000
19990    0.000000
19991    0.000000
19992    0.000000
19993    0.000000
19994    1.000000
19995    0.000000
19996    0.000000
19997    0.000000
19998    0.000000
Name: answer_in_question, Length: 19999, dtype: float64

In [13]:
jeopardy['answer_in_question'].mean()

0.06035277385469894

From the analysis above, we see that 6% of the time, the answers have previously appeared in the questions, which is not a significant number.

# Recycled Questions

Now we want to figure out how often new questions are actually repeats of older ones.

In [14]:
# sort the dataframe by air date

jeopardy.sort_values(by=['AirDate'])

,ShowNumber,AirDate,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value,answer_in_question
19325,10,1984-09-21,Final Jeopardy!,U.S. PRESIDENTS,None,"Adventurous 26th president, he was 1st to ride...",Theodore Roosevelt,adventurous 26th president he was 1st to ride ...,theodore roosevelt,0,0.000000
19301,10,1984-09-21,Double Jeopardy!,LABOR UNIONS,$200,Notorious labor leader missing since '75,Jimmy Hoffa,notorious labor leader missing since 75,jimmy hoffa,200,0.000000
19302,10,1984-09-21,Double Jeopardy!,1789,$200,"Washington proclaimed Nov. 26, 1789 this first...",Thanksgiving,washington proclaimed nov 26 1789 this first n...,thanksgiving,200,0.000000
19303,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$200,Both Ferde Grofe' & the Colorado River dug thi...,the Grand Canyon,both ferde grofe the colorado river dug this ...,the grand canyon,200,0.000000
19304,10,1984-09-21,Double Jeopardy!,LITERATURE,$200,"Depending on the book, he could be a ""Jones"", ...",Tom,depending on the book he could be a jones a sa...,tom,200,0.000000
19305,10,1984-09-21,Double Jeopardy!,HOMONYMS,$200,Hindu hierarchy or a play's actors,a caste (cast),hindu hierarchy or a plays actors,a caste cast,200,0.333333
19306,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$200,"Last season, this series mourned the loss of S...",Hill Street Blues,last season this series mourned the loss of sg...,hill street blues,200,0.000000
19307,10,1984-09-21,Double Jeopardy!,1789,$400,Why April 28th was a bad day for Capt. Bligh,the day of the mutiny on the Bounty,why april 28th was a bad day for capt bligh,the day of the mutiny on the bounty,400,0.142857
19308,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$400,Seaside resort that has a monopoly on East Coa...,"Atlantic City, New Jersey",seaside resort that has a monopoly on east coa...,atlantic city new jersey,400,0.000000
19309,10,1984-09-21,Double Jeopardy!,LITERATURE,$400,"He wrote ""The 3 Musketeers""; his son wrote ""Ca...",(Alexandre) Dumas,he wrote the 3 musketeers his son wrote camille,alexandre dumas,400,0.000000
19310,10,1984-09-21,Double Jeopardy!,HOMONYMS,$400,Near or a purchase,by (buy),near or a purchase,by buy,400,0.000000
19311,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$400,He went from the Ponderosa to the prairie,Michael Landon,he went from the ponderosa to the prairie,michael landon,400,0.000000
19312,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$600,"Since '27, stars have made good impressions at...",Mann's Chinese Theatre,since 27 stars have made good impressions at t...,manns chinese theatre,600,0.000000
19313,10,1984-09-21,Double Jeopardy!,LITERATURE,$600,Where you can't go again in Thomas Wolfe title,home,where you cant go again in thomas wolfe title,home,600,0.000000
19314,10,1984-09-21,Double Jeopardy!,HOMONYMS,$600,"A fixed look, or Ginger Rogers' partner",a stare (Astaire),a fixed look or ginger rogers partner,a stare astaire,600,0.333333
19315,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$600,"In 1970 he had a ""Goodtime Hour""",Glen Campbell,in 1970 he had a goodtime hour,glen campbell,600,0.000000
19316,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$800,A thrilling destination for tight-rope walkers...,Niagara Falls,a thrilling destination for tightrope walkers ...,niagara falls,800,0.000000
19317,10,1984-09-21,Double Jeopardy!,LITERATURE,$800,Irving's bird-like hero chased by the Headless...,Ichabod Crane,irvings birdlike hero chased by the headless h...,ichabod crane,800,0.000000
19318,10,1984-09-21,Double Jeopardy!,HOMONYMS,"$1,000",Didn't see the fog,missed (mist),didnt see the fog,missed mist,1000,0.000000
19319,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$800,"Jackie Gleason show that rejected titles ""The ...",The Honeymooners,jackie gleason show that rejected titles the l...,the honeymooners,800,0.000000
19320,10,1984-09-21,Double Jeopardy!,1789,$1000,"Now totaling over $1 trillion, it began 11 day...",the national debt,now totaling over 1 trillion it began 11 days ...,the national debt,1000,0.000000
19321,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$1000,Tourists know this Catholic mission as Davy Cr...,the Alamo,tourists know this catholic mission as davy cr...,the alamo,1000,0.000000
19322,10,1984-09-21,Double Jeopardy!,LITERATURE,$1000,Shaw's scorched saint,St. Joan of Arc,shaws scorched saint,st joan of arc,1000,0.000000
19323,10,1984-09-21,Double Jeopardy!,HOMONYMS,$1000,Where ships dock or what a jury consists of,piers (peers),where ships dock or what a jury consists of,piers peers,1000,0.000000
19300,10,1984-09-21,Jeopardy!,SPORTS,$500,"Boxer whose life was portrayed in ""Somebody Up...",Rocky Graziano,boxer whose life was portrayed in somebody up ...,rocky graziano,500,0.000000
19324,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$1000,"In court, he'd always make mincemeat of Hamilt...",Perry Mason,in court hed always make mincemeat of hamilton...,perry mason,1000,0.000000
19299,10,1984-09-21,Jeopardy!,"""B"" MOVIES",$500,Sensitive Mart Crowley treatment of gays march...,The Boys in the Band,sensitive mart crowley treatment of gays march...,the boys in the band,500,0.000000
19297,10,1984-09-21,Jeopardy!,"""JACKS"" OF ALL TRADES",$500,"2nd generation pop singer, he's sung on every ...",Jack Jones,2nd generation pop singer hes sung on every lo...,jack jones,500,0.000000
19274,10,1984-09-21,Jeopardy!,GEOGRAPHY,$100,Formerly Formosa,Taiwan,formerly formosa,taiwan,100,0.000000
19275,10,1984-09-21,Jeopardy!,DOUBLE TALK,$100,"Not a Hawaiian cow, but a dress worn by Hawaii...",a muumuu,not a hawaiian cow but a dress worn by hawaiia...,a muumuu,100,0.500000
...,...,...,...,...,...,...,...,...,...,...,...
1973,6294,2012-01-19,Double Jeopardy!,4 N,$2000,"Inopportune or untimely, like the title ""woman...",inconvenient,inopportune or untimely like the title woman i...,inconvenient,2000,0.000000
1974,6294,2012-01-19,Final Jeopardy!,SPORTS & THE MOVIES,None,"When asked for a home address in ""The Blues Br...",Wrigley Field,when asked for a home address in the blues bro...,wrigley field,0,0.000000
1959,6294,2012-01-19,Double Jeopardy!,THE LIVING PLANET,$1200,"Relative to the size of the bird, this flightl...",the kiwi,relative to the size of the bird this flightle...,the kiwi,1200,0.000000
1958,6294,2012-01-19,Double Jeopardy!,WEAPONS OF WORLD WAR II,$1200,"Today, this Japanese car company makes the gal...",Mitsubishi,today this japanese car company makes the gala...,mitsubishi,1200,0.000000
1957,6294,2012-01-19,Double Jeopardy!,WHAT'S YOUR BEEF?,$1200,A New York steak is also known as this alliter...,strip steak,a new york steak is also known as this alliter...,strip steak,1200,0.500000
1956,6294,2012-01-19,Double Jeopardy!,AMERICAN HISTORY,"$1,800",This political party founded around 1789 stood...,the Federalists,this political party founded around 1789 stood...,the federalists,1800,0.000000
1934,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,$800,In 1851 this company started using a logo with...,Proctor & Gamble,in 1851 this company started using a logo with...,proctor gamble,800,0.333333
1935,6294,2012-01-19,Jeopardy!,NURSERY RHYMES,$800,"While ""January brings the snow"", ""may brings f...",lambs,while january brings the snow may brings flock...,lambs,800,0.000000
1936,6294,2012-01-19,Jeopardy!,INLETS,$800,"This Chilean city whose name means ""valley of ...",Valparaiso,this chilean city whose name means valley of p...,valparaiso,800,0.000000
1937,6294,2012-01-19,Jeopardy!,"THE EVOLUTION OF ""M""USIC",$800,"In the '90s it was ""Enter Sandman"" with this g...",Metallica,in the 90s it was enter sandman with this group,metallica,800,0.000000
1938,6294,2012-01-19,Jeopardy!,FOREIGN,$800,Tredici is Italian for this symbol of bad luck,thirteen,tredici is italian for this symbol of bad luck,thirteen,800,0.000000
1939,6294,2012-01-19,Jeopardy!,"A SHAKESPEARE PLAY, FOR OPENERS",$1000,This play opens most dramatically with thunder...,The Tempest,this play opens most dramatically with thunder...,the tempest,1000,0.000000
1940,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,$1000,In 1927 this brand name first appeared on a Se...,Kenmore,in 1927 this brand name first appeared on a se...,kenmore,1000,0.000000
1941,6294,2012-01-19,Jeopardy!,NURSERY RHYMES,$1000,"""Here we go round"" this bush ""on a cold and fr...",the mulberry bush,here we go round this bush on a cold and frost...,the mulberry bush,1000,0.500000
1942,6294,2012-01-19,Jeopardy!,INLETS,$1000,North Carolina's Albemarle Sound is no deeper ...,the Outer Banks,north carolinas albemarle sound is no deeper t...,the outer banks,1000,0.000000
1943,6294,2012-01-19,Jeopardy!,"THE EVOLUTION OF ""M""USIC",$1000,"In the 2000s ""Makes Me Wonder"" got this group ...",Maroon 5,in the 2000s makes me wonder got this group no...,maroon 5,1000,0.000000
1932,6294,2012-01-19,Jeopardy!,FOREIGN,$600,"If Popeye spoke Hebrew he'd ask for tered, this",spinach,if popeye spoke hebrew hed ask for tered this,spinach,600,0.000000
1944,6294,2012-01-19,Jeopardy!,FOREIGN,$1000,"In German, berg is this topographical feature ...",a mountain,in german berg is this topographical feature o...,a mountain,1000,0.500000
1946,6294,2012-01-19,Double Jeopardy!,WHAT'S YOUR BEEF?,$400,"If you can't stand the heat, there's always th...",steak tartare,if you cant stand the heat theres always this ...,steak tartare,400,0.000000
1947,6294,2012-01-19,Double Jeopardy!,WEAPONS OF WORLD WAR II,$400,The British A22 Mark IV tank carried a 75-mill...,Churchill,the british a22 mark iv tank carried a 75milli...,churchill,400,0.000000
1948,6294,2012-01-19,Double Jeopardy!,THE LIVING PLANET,$400,"Able to lift 850 times its own weight, the str...",beetle,able to lift 850 times its own weight the stro...,beetle,400,0.000000
1949,6294,2012-01-19,Double Jeopardy!,ACTING PRESIDENTS ON TV,$400,Blair Underwood as President Elias Martinez,The Event,blair underwood as president elias martinez,the event,400,0.000000
1950,6294,2012-01-19,Double Jeopardy!,4 N,$400,"Number of ""beers on the wall"" at the beginning...",ninety-nine,number of beers on the wall at the beginning o...,ninetynine,400,0.000000
1951,6294,2012-01-19,Double Jeopardy!,AMERICAN HISTORY,$800,In 1951 he told a joint session of congress th...,(Douglas) McArthur,in 1951 he told a joint session of congress th...,douglas mcarthur,800,0.000000
1952,6294,2012-01-19,Double Jeopardy!,WHAT'S YOUR BEEF?,$800,A New England boiled dinner is traditionally m...,corned beef,a new england boiled dinner is traditionally m...,corned beef,800,0.000000
1953,6294,2012-01-19,Double Jeopardy!,WEAPONS OF WORLD WAR II,$800,"Ships in the U.S. Navy's Casablanca class of ""...",aircraft carriers,ships in the us navys casablanca class of esco...,aircraft carriers,800,0.000000
1954,6294,2012-01-19,Double Jeopardy!,ACTING PRESIDENTS ON TV,$800,Dennis Haysbert & D.B. Woodside as David & Way...,24,dennis haysbert db woodside as david wayne p...,24,800,0.000000
1955,6294,2012-01-19,Double Jeopardy!,4 N,$800,"""U"" know it means not deliberate; I'm sorry, t...",unintentional,u know it means not deliberate im sorry that s...,unintentional,800,0.000000
1945,6294,2012-01-19,Double Jeopardy!,AMERICAN HISTORY,$400,In December 1974 this former New York governor...,Rockefeller,in december 1974 this former new york governor...,rockefeller,400,0.000000
1922,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,$400,In 1997 Tyco International moved to this U.K. ...,Bermuda,in 1997 tyco international moved to this uk te...,bermuda,400,0.000000

In [15]:
# Analysis of how often the words in the questions have previously been mentioned. 
question_overlap = []
terms_used = set()
for index, row in jeopardy.iterrows():
    split_question = row['clean_question'].split(' ')
    split_question = [q for q in split_question if len(q) > 5]
    match_count = 0
    #for word in split_question:
        #if len(word) >= 6:
            #split_question = [word]
    for word in split_question:
        if word in terms_used:
            match_count += 1
    for word in split_question:
        terms_used.add(word)
    if len(split_question) > 0:
        match_count = match_count / len(split_question)
    question_overlap.append(match_count)
jeopardy['question_overlap'] = question_overlap
jeopardy['question_overlap'].mean()

0.6902117143393507

From analysis above, we see that 80% of the terms in the questions were previously mentioned. Of course it doesn't look at phrases and sentences, but it is still worth looking into recycling questions.

In [16]:
terms_used

{'arranges',
 'freudenberger',
 'antarctic',
 'convict',
 'hrefhttpwwwjarchivecommedia20080408dj18ajpg',
 'seferovic',
 'stempel',
 'defeated',
 'islahiye',
 'pillar',
 'bathtub',
 'machine',
 'inspires',
 'ismaili',
 'gourds',
 'amphibians',
 'oriskany',
 'ashkenazic',
 'marching',
 'eaters',
 'fuller',
 'schedule',
 'abilene',
 'yoshino',
 'lionsgate',
 'targetblanktalksa',
 'krakatoa',
 'referring',
 'hrefhttpwwwjarchivecommedia20060307dj10wmv',
 'pioneering',
 'okanagan',
 'injuring',
 'schizophrenic',
 'surveyor',
 'piperita',
 'beggars',
 'bounce',
 'macnicol',
 'dictates',
 'amorous',
 'reestablished',
 'assures',
 'dominica',
 '188085',
 'hrefhttpwwwjarchivecommedia20091229j04wmvjimmy',
 'gutenberg',
 'kalmar',
 'obyrne',
 'commerce',
 'fredrics',
 'marlow',
 'sauerbraten',
 'kindly',
 'fellowsoldiers',
 'reflects',
 'wholesale',
 'conningham',
 'postmarks',
 'mccurtain',
 'yesterday',
 'relative',
 'durability',
 'swoopes',
 'critics',
 'japana',
 'defile',
 'predetermined',
 'miniature',
 'garnished',
 'hrefhttpwwwjarchivecommedia20001123dj19wmvithese',
 'napier',
 'gammerman',
 'hrefhttpwwwjarchivecommedia20090105j20wmvdr',
 'targetblanklunch',
 'bacall',
 'abstain',
 'octagonal',
 'outbreak',
 'pontiffs',
 'elberon',
 '121yearold',
 'fibula',
 'respectful',
 'dracula',
 'nonsense',
 'chancre',
 'mirrors',
 'parttime',
 'hrefhttpwwwjarchivecommedia20100916j30ajpg',
 'candide',
 'agreed',
 'burying',
 'papera',
 'stadium',
 'ferociously',
 'mythological',
 'sorbet',
 'psychiatric',
 'idealistic',
 'consensus',
 'dakota',
 'renovated',
 'bikini',
 'butkus',
 'stepsthou',
 'petrel',
 'russell',
 'inborn',
 'delovely',
 'putrid',
 'opentop',
 'milligrams',
 'secrets',
 'riddle',
 'developing',
 'hrefhttpwwwjarchivecommedia20051116dj04jpg',
 'falstaff',
 'montoya',
 'harringtona',
 'occasionally',
 'pervasive',
 'orourke',
 'storming',
 'completing',
 'cousins',
 'nebbish',
 'burners',
 'galahad',
 'isidore',
 'rusticana',
 'infants',
 'impersonate',
 'hrefhttpwwwjarchivecommedia20100111j10jpg',
 'learning',
 'fragrant',
 'mincemeat',
 'spoonful',
 'gandolfo',
 'hrefhttpwwwjarchivecommedia20080313dj30ajpg',
 'medicine',
 'yippie',
 'dimitris',
 'teleki',
 'hrefhttpwwwjarchivecommedia20061102j02jpg',
 'interested',
 'multitrack',
 'julianne',
 'favored',
 'brobdingnagian',
 'lawyer',
 'trebekus',
 'trinity',
 'shield',
 'failed',
 'zihuatanejo',
 'tennessees',
 'windmills',
 'costello',
 'legenda',
 'publish',
 'shannon',
 'kramer',
 'ortega',
 'tailored',
 'cochise',
 'breath',
 'instructors',
 'neville',
 'showstopping',
 'pennies',
 'resolve',
 'madison',
 'cambridge',
 'readers',
 'eggshaped',
 'spirometer',
 'frenzied',
 'economy',
 'bosons',
 'affinity',
 'bolton',
 'remarried',
 'cornflower',
 'hrefhttpwwwjarchivecommedia20040628j11ajpg',
 'butterfield',
 'scientist',
 'sticky',
 'squirrel',
 'radiocarbon',
 'blackcock',
 'orbiting',
 'pinball',
 'porizkova',
 'wheatgrowing',
 'sursson',
 'hrefhttpwwwjarchivecommedia20050502j02jpg',
 'lamour',
 'expire',
 'hrefhttpwwwjarchivecommedia20060303dj26ajpg',
 'provisions',
 'schweiger',
 'caucasus',
 'siddim',
 'quarried',
 'edmund',
 'deformationa',
 'miraculous',
 'targetblanktreea',
 'victor',
 'hrefhttpwwwjarchivecommedia20090211dj14jpg',
 'chakrams',
 'import',
 'centennial',
 'daedalus',
 'reissued',
 'eyebrows',
 'buoyant',
 'dabbling',
 'reached',
 'revision',
 'graves',
 'jasper',
 'clooney',
 'rappaport',
 'eateries',
 'longhorns',
 'welcome',
 'believer',
 'vulcan',
 'hitters',
 'weapon',
 'retailers',
 'deciding',
 'chucks',
 'curious',
 'formed',
 'whitman',
 'hearings',
 'sendup',
 'detour',
 'neverending',
 'winnie',
 'targetblankhappy',
 'strewn',
 'hairier',
 'buffet',
 'flashy',
 'citrine',
 'hrefhttpwwwjarchivecommedia20020509j25jpg',
 'argument',
 'wiedlin',
 'cadmus',
 'greatuncle',
 'prophets',
 'hrefhttpwwwjarchivecommedia20040723dj02jpg',
 'nonpotent',
 'labanotation',
 'calistas',
 'automobile',
 'balkans',
 '1496pound',
 'jaffna',
 'prepared',
 'furseys',
 'steuben',
 'stealing',
 'vigilante',
 'lockheed',
 'mcmurtry',
 'expectations',
 'coward',
 'multiplane',
 'dvoraks',
 'eastman',
 'journalists',
 'angels',
 'irrigates',
 'stubing',
 '1syllable',
 '200000',
 'suisse',
 'deputy',
 'frienda',
 'compromising',
 'citystates',
 'categorya',
 'testator',
 'reckless',
 'invaded',
 'confederation',
 'career',
 'kentuckys',
 'shrimp',
 'adjoins',
 'trademark',
 'virtuoso',
 'sprouts',
 'espadrilles',
 'devils',
 'ideally',
 'mikhail',
 'earthworms',
 'broadcasts',
 'precipitates',
 'bumbles',
 'evaluation',
 'sprouting',
 'citation',
 'hrefhttpwwwjarchivecommedia20061016j17jpg',
 'smuggler',
 'sebelius',
 'habanera',
 'bismarck',
 'vehicle',
 'perpetuity',
 'raghib',
 'undress',
 'dialogue',
 'catherick',
 'amoeba',
 'oscarwinning',
 'dessau',
 'yearround',
 'whenever',
 'beehive',
 'dictionaries',
 'kowalski',
 'meecham',
 'workman',
 'hrefhttpwwwjarchivecommedia20070115j28jpg',
 'psychologist',
 'headbangers',
 'hrefhttpwwwjarchivecommedia20060227dj27jpg',
 'nursed',
 'devanter',
 'hrefhttpwwwjarchivecommedia20091014j08jpg',
 'populations',
 'trumpetplaying',
 'vilnius',
 'bengurion',
 'cooler',
 'draftsmans',
 'hurston',
 'iceberg',
 'attracts',
 'birthdays',
 'croute',
 'reusable',
 'cororefers',
 'stevenson',
 'tartarregular',
 'refused',
 'jagger',
 'condition',
 'brosnan',
 'alices',
 'phonetic',
 'induce',
 'unlucky',
 'piemaker',
 'northeastern',
 'odorama',
 'mildred',
 'foodconducting',
 'michael',
 '10sup43sup',
 'bambai',
 'waxmaker',
 'gallega',
 'nebraskaa',
 'detmer',
 'befuddled',
 'wendys',
 'daphnis',
 'barbels',
 'waysfor',
 'procopernican',
 'berlioz',
 'parque',
 'letitia',
 'symptom',
 'magically',
 'unresisting',
 'mcqueen',
 'asianamerican',
 'revolution',
 'ukranian',
 'todays',
 'hrefhttpwwwjarchivecommedia20110422j08jpg',
 'wharton',
 'sweater',
 'jobless',
 'hrefhttpwwwjarchivecommedia20050411dj24ajpg',
 'brenda',
 'priest',
 'crucifixion',
 'rivarol',
 'killing',
 'intoned',
 'carmack',
 'relations',
 'orsino',
 'priestley',
 'racksa',
 'holder',
 'refund',
 'centerfold',
 'vietnamese',
 'blancmange',
 'caspar',
 'hellcats',
 'wearer',
 'bilthousands',
 'alison',
 'fieldwork',
 'hoppin',
 'chilly',
 'bucket',
 'peeled',
 'reject',
 'tierney',
 'exposes',
 'predicted',
 'wagonmaker',
 'hrefhttpwwwjarchivecommedia20080227dj27ajpg',
 'corcoran',
 'rodham',
 'emperoria',
 'uppsala',
 'martins',
 'runnin',
 'combination',
 'involuntary',
 'shorthaired',
 'razorbacks',
 'infestation',
 'adoption',
 'lansing',
 'homework',
 'norris',
 '3digit',
 'stately',
 'mishandling',
 'pensacola',
 'larded',
 'hemophobia',
 'continued',
 'shifted',
 'darkness',
 'ramdane',
 'unable',
 'exceeds',
 'hrefhttpwwwjarchivecommedia20071015j13ajpg',
 'thugmuffin',
 'removing',
 'wellarmed',
 'nicaraguan',
 'postage',
 'abolish',
 'followup',
 'ordering',
 'felines',
 'exteammate',
 'artifacts',
 'hrefhttpwwwjarchivecommedia20100604dj12ajpg',
 'rancid',
 'drawingsyet',
 'ramsey',
 'twichell',
 'raucous',
 'concorde',
 'thurio',
 'blurred',
 'anglosaxon',
 'curing',
 'crewman',
 'burtona',
 'vigorous',
 'guntoting',
 'raphael',
 'accuses',
 'sterling',
 'temple',
 'sweetpotato',
 'cornelius',
 'mussolini',
 'opposed',
 'hrefhttpwwwjarchivecommedia19981029dj27jpg',
 'orioles',
 'gaslight',
 '168pound',
 'nibble',
 'rewarded',
 'festive',
 'villanelle',
 'dikembe',
 '3wheeled',
 'pathogens',
 'endorphins',
 'whaleheaded',
 'rehovot',
 'brotherhoodsisterhood',
 'autobiography',
 'centers',
 'maidens',
 'psalms',
 'violates',
 'montagnier',
 'tuffet',
 'austrias',
 'rotation',
 'hrefhttpwwwjarchivecommedia20041020dj12jpg',
 'woolly',
 'assets',
 'lonely',
 'brilliance',
 'courtroom',
 'budgerigar',
 'disney',
 'flapsticks',
 'englishlanguage',
 'phantom',
 'televisions',
 'dramatically',
 'pommes',
 'latitude',
 'nickelodeon',
 'lucrezia',
 'percentage',
 'similar',
 'empfield',
 'playstation',
 'toppled',
 'hrefhttpwwwjarchivecommedia20081222j30jpg',
 'televangelist',
 'contents',
 'poetpugilist',
 'starving',
 'trainee',
 'sputnik',
 'wondering',
 'cesare',
 'italians',
 'renting',
 'redbearded',
 'invoked',
 'dudley',
 'circletopped',
 'andress',
 'europe',
 'suppressed',
 'monitor',
 'songsmith',
 'arkansassy',
 'fastener',
 'brazil',
 'sherbet',
 'satirist',
 'hrefhttpwwwjarchivecommedia20100916j29jpg',
 'beauregard',
 'graceland',
 'carlin',
 'lovett',
 'hrefhttpwwwjarchivecommedia20060303dj28ajpg',
 'victoria',
 'difficulty',
 'interlock',
 'chibcha',
 'preston',
 'editions',
 'forward',
 'inauguration',
 'tamlyn',
 'angelus',
 'oreilly',
 'eschewed',
 'funniest',
 'hrefhttpwwwjarchivecommedia20050119j13jpg',
 'ironing',
 'conquering',
 'succeeded',
 'abundance',
 'harbour',
 'sweeney',
 'grounda',
 'teacher',
 'hrefhttpwwwjarchivecommedia20080313dj29jpg',
 'purifying',
 'wagner',
 'trooper',
 'starching',
 'scramble',
 'tarzan',
 '180000',
 'riverrun',
 'italianborn',
 'bunshaft',
 'exposed',
 'goldsmiths',
 'luminous',
 'garrison',
 'depiction',
 'whisky',
 'hrefhttpwwwjarchivecommedia19971110dj27jpg',
 'nyswander',
 'practiced',
 'jacqueline',
 'stuart',
 'offense',
 'spitzer',
 'kapital',
 'diamonds',
 '50star',
 'elongated',
 'biblicalera',
 'pushups',
 'arthurian',
 'bacalls',
 'hrefhttpwwwjarchivecommedia20040712dj12ajpg',
 'bubbie',
 'hrefhttpwwwjarchivecommedia19981030dj05jpg',
 'clashed',
 'assisted',
 'congress',
 'killer',
 'righteousness',
 'stormen',
 'sickly',
 'alumni',
 'challenges',
 'bluegrass',
 'basters',
 'merchant',
 'automedusa',
 'burlington',
 'strongest',
 'rippling',
 'alphabetic',
 'handcuff',
 'competitors',
 'hrefhttpwwwjarchivecommedia20041231dj25mp3somewhere',
 'catastrophe',
 'citadels',
 'barefoot',
 'alarming',
 'cremated',
 'halfcup',
 'humble',
 'razorsharp',
 'condemned',
 'theatercrime',
 'cornea',
 'amphibian',
 'beefeater',
 'eatery',
 'singled',
 'voters',
 'choreographing',
 'towermasted',
 'abyssinian',
 'chords',
 'development',
 'discoverer',
 'drafting',
 'uncovers',
 'seventh',
 'shutin',
 '19391960',
 'disastrous',
 'dropped',
 'thiscoated',
 'deadheads',
 'hamiltons',
 'decoder',
 'archaeological',
 'menelaus',
 'amazement',
 'willto',
 'carnegiemellon',
 'tacked',
 'hrefhttpwwwjarchivecommedia20080722dj24wmvcheryl',
 'californians',
 'admirals',
 'baylor',
 'smelling',
 'glimpsed',
 'distinct',
 'circum',
 'cabbage',
 'designs',
 'fortnight',
 'migrate',
 'decorum',
 'contacting',
 'nautical',
 'irrigate',
 'krakow',
 'soviets',
 'sabins',
 'somebodys',
 'mundis',
 'answer',
 'hrefhttpwwwjarchivecommedia20061016j28wmvjimmy',
 'bandersnatch',
 'immortals',
 'sleeket',
 'colonization',
 'psychedelia',
 'mauritius',
 'froggus',
 'sliding',
 'librarys',
 'potency',
 'conglomerate',
 'bondage',
 'installer',
 'jewelry',
 'renounced',
 'hrefhttpwwwjarchivecommedia20080520dj20wmvsarah',
 'lengthy',
 'saline',
 'tanzanian',
 'bureau',
 'surrendering',
 'globes',
 'sideways',
 'populated',
 'parties',
 'soften',
 'competed',
 'marcos',
 'guests',
 'postcommunist',
 'manned',
 'looksegyptians',
 'definitely',
 'nicene',
 'kellya',
 'succession',
 'schnitzel',
 'unbearable',
 'strasbourg',
 'potassium',
 'donelson',
 'comedy',
 'sackler',
 'handkerchiefs',
 'itasca',
 'slipshod',
 'healthy',
 '16letter',
 'roncesvalles',
 'chastain',
 'tyrants',
 'bronze',
 'lectures',
 'downey',
 'guyanas',
 'hrefhttpwwwjarchivecommedia20111024j28ajpg',
 'fourposter',
 'matata',
 'apuleius',
 '10story',
 'rotating',
 'costing',
 'liotta',
 'dysmorphic',
 'priestess',
 'mistake',
 'ballet',
 'imagined',
 'drescher',
 '19581996',
 'montand',
 'lowtemperature',
 'nastassja',
 'copies',
 'antistalinist',
 'antiques',
 'smokers',
 'lancelot',
 'burgess',
 'bargain',
 'deception',
 'mustsee',
 'samarra',
 'vietnams',
 'highenergy',
 'mcneill',
 'chivalric',
 'shallowfried',
 'slangy',
 'antipsychotic',
 'trucking',
 'hiding',
 'spacecraft',
 'yggdrasil',
 'villainous',
 'sleeper',
 'sponsoring',
 'dionysius',
 'degree',
 'buggies',
 'miserablesounds',
 'frightened',
 'mcdermott',
 'qualities',
 'purebred',
 'admiring',
 'odious',
 'targetblankihi',
 'portraits',
 'waddled',
 'pennsylvania',
 'patrick',
 'mosquito',
 'hamlet',
 'trochilidae',
 'potatoes',
 'lonelyhearts',
 'handpicked',
 'cosponsored',
 'goodsized',
 'knocks',
 'vivien',
 'libation',
 'pranks',
 'removable',
 '865foothigh',
 'christofias',
 'clarkson',
 'recoil',
 'lisztomania',
 'marathoner',
 'tormented',
 'panhandle',
 'bankruptcy',
 'provence',
 'orbits',
 'physical',
 'starbuck',
 'eatinthis',
 'unconquerable',
 'hrefhttpwwwjarchivecommedia20070112j17jpg',
 'ingredient',
 'birthstones',
 'ranging',
 'garnish',
 'darfur',
 'shalamar',
 'sublime',
 'taking',
 'marnie',
 'agaves',
 'shortcakes',
 '2masted',
 'reindeer',
 'hrefhttpwwwjarchivecommedia20070115j15jpg',
 'aniston',
 'grammar',
 'bivalves',
 'allaranci',
 'northwestern',
 'dublin',
 'hrefhttpwwwjarchivecommedia20070305dj26jpg',
 'audubon',
 'offbalance',
 'georgiaa',
 'teaberry',
 'clovio',
 'rupert',
 'surprising',
 'capitoline',
 'sanctimonious',
 'selection',
 'bowness',
 'written',
 'cluster',
 'mounted',
 'ithink',
 'roland',
 'spingarn',
 'electrical',
 'tossed',
 'ritchie',
 'piedmont',
 'shishaldin',
 'nationwide',
 'textile',
 'dancers',
 'observer',
 'notebooks',
 'hrefhttpwwwjarchivecommedia20041020j16jpg',
 'executioner',
 'blooming',
 'marvell',
 'rocket',
 'sexually',
 'scheme',
 'trousers',
 'hrefhttpwwwjarchivecommedia20060601j18jpg',
 'hrefhttpwwwjarchivecommedia20090213dj20jpg',
 'phoenicopterus',
 'bolivias',
 'superb',
 'lucille',
 'baseballs',
 'sukarnohatta',
 'handled',
 'arrowhead',
 'csub4subhsub8subclsub2subs',
 'chamberlain',
 'boozing',
 'homecourt',
 'binghams',
 'playoff',
 'simulator',
 'restraint',
 'minneapolis',
 'mexicos',
 'lifestyle',
 'camels',
 'alligator',
 'partys',
 'control',
 'midocean',
 'odouls',
 'landslided',
 'dewlap',
 'stories',
 'provides',
 'peyton',
 'rollout',
 'counterpart',
 'veterans',
 'queene',
 'mistia',
 'tankavaara',
 'endicott',
 'niccolo',
 '630foothigh',
 'holding',
 'archduchess',
 'quince',
 'chelsea',
 'resting',
 'lowells',
 'opinions',
 'photographs',
 'allpurpose',
 'promoters',
 'evacuees',
 'levels',
 'allstar',
 'quotations',
 'chunks',
 'hudson',
 'hrefhttpwwwjarchivecommedia20060127j24ajpg',
 'pakenham',
 'ambassador',
 'garment',
 'indicates',
 'commemorate',
 'decatur',
 'pamphlets',
 'obstructions',
 'officials',
 'coloradas',
 'mmmbop',
 'theenk',
 'penniless',
 'archimedes',
 'birthplace',
 'walmart',
 'unnecessarily',
 'technologiesand',
 'charley',
 'mariana',
 'hrefhttpwwwjarchivecommedia20070330j13jpg',
 'pounded',
 'despereaux',
 'brutalism',
 'lobbied',
 'toobins',
 'reasonable',
 'broadwood',
 'johnston',
 'upbringing',
 'classroom',
 'measured',
 'eldridge',
 'leatherstocking',
 'chelydra',
 'skarsgard',
 'coopted',
 'stalwart',
 'waterfowl',
 'xfiles',
 'arrival',
 'polizzi',
 ...}

# Low Value vs. High Value Questions

We will want to focus on questions that contain high value which translates into more money. We need to know what are the words that occured on high value questions and what are the words that occured in low value questions.

In [17]:
# create a function to determine if the question is high value or low value
def value_decider(row):
    if row['clean_value'] > 800:
        value = 1
    else:
        value = 0
    return value

In [18]:
# Apply the function to all rows in the dataframe to see whether each row represents high value or not
jeopardy['high_value'] = jeopardy.apply(value_decider, axis=1)
jeopardy['high_value']

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       1
23       0
24       1
25       1
26       1
27       1
28       1
29       0
        ..
19969    1
19970    1
19971    1
19972    1
19973    1
19974    1
19975    1
19976    1
19977    1
19978    1
19979    1
19980    1
19981    1
19982    1
19983    1
19984    1
19985    1
19986    1
19987    0
19988    0
19989    0
19990    0
19991    0
19992    0
19993    0
19994    0
19995    0
19996    0
19997    0
19998    0
Name: high_value, Length: 19999, dtype: int64

In [19]:
# establish a function to generate number of counts that word is associated with high value or low value
def word_value_count(word):
    low_count = 0
    high_count = 0
    for index, row in jeopardy.iterrows():
        split_question = row['clean_question'].split(' ')
        if word in split_question:
            if row['high_value'] == 1:
                high_count += 1
            else:
                low_count += 1
    return high_count, low_count

In [20]:
observed_expected = []
comparison_terms = list(terms_used)[0:5]
comparison_terms

['arranges',
 'freudenberger',
 'antarctic',
 'convict',
 'hrefhttpwwwjarchivecommedia20080408dj18ajpg']

In [21]:
for term in comparison_terms:
    observed_expected.append(word_value_count(term))
observed_expected

[(0, 1), (0, 1), (1, 3), (1, 3), (0, 1)]

# Applying the Chi-squared Test

Now that we've found the observed counts for a few terms, we can compute the expected counts and the chi-squared value.

In [22]:
# Find the number of rows of "high value"
high_value_count = jeopardy[jeopardy['high_value'] == 1].shape[0]
high_value_count

5734

In [23]:
# Find the number of rows of "low value"
low_value_count = jeopardy[jeopardy['high_value'] == 0].shape[0]
low_value_count

14265

In [25]:
chi_squared = []
import scipy
from scipy.stats import chisquare
import numpy as np

for item in observed_expected:
    total = sum(item)
    total_prop = total / jeopardy.shape[0]
    high_count_expected = total_prop * high_value_count
    low_count_expected = total_prop * low_value_count
    observed = np.array([item[0], item[1]])
    expected = np.array([high_count_expected, low_count_expected])
    chis_v, p_v = chisquare(observed, expected)
    chi_squared.append(chisquare(observed, expected))

chi_squared

[Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=0.02636443308440769, pvalue=0.871013484688921),
 Power_divergenceResult(statistic=0.02636443308440769, pvalue=0.871013484688921),
 Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469)]

From the Chi-square analysis, we learn that the chi-square is ranging from 0.03 to 0.40, with p-value ranging from 53% to 87%. the null hypothesis is that there should not be significant difference between terms used in high value questions and low value questions. Given the low chi-square and high p-value, we conclude that null hypothesis should be accepted.